.container {
  @apply flex
    self-center
    mx-auto
    justify-center
    p-5;
}

.wrapper {
  @apply rounded-2xl
    p-5
    shadow-lg
    bg-gray-50
    md:p-10
    md:mx-0;
}

.title {
  @apply text-6xl
    font-bold
    tracking-tighter
    mb-8
    leading-tight
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    bg-clip-text;

  -webkit-text-fill-color: transparent;
}

.actions {
  @apply flex
    flex-col
    flex-1
    md:flex-row
    items-center;
}

.divider {
  @apply font-light
    mx-2;
}
