.container {
  @apply flex
    flex-col
    mx-auto
    py-10
    lg:bg-gray-50
    lg:p-10
    lg:my-10
    lg:rounded-2xl
    lg:shadow-2xl;
}

.wrapper {
  @apply grid
    grid-cols-1
    mx-auto
    lg:grid-cols-3;
}

.top {
  @apply flex
    flex-col
    m-4
    lg:flex-row;
}

.title {
  @apply flex-1
    text-6xl
    font-bold
    tracking-tighter
    text-center
    lg:text-left;
}

.search {
  @apply w-96
    self-center
    mt-4
    lg:mt-4;
}
