.container {
  @apply self-center
    justify-self-center
    mx-auto
    bg-gray-50
    my-10
    p-10
    h-full
    lg:rounded-2xl
    lg:shadow-2xl
    lg:h-auto;
}

.wrapper {
  @apply grid
    grid-cols-1
    h-full
    w-max
    mx-auto
    md:grid-cols-3
    lg:grid-cols-3
    lg:h-auto;
}

.title {
  @apply text-6xl
    font-bold
    tracking-tighter
    mx-auto
    mb-4;
}
