input,
textarea,
button,
select {
  @apply rounded-none;

  -webkit-appearance: none;
  outline: 0;

  &[type='checkbox'] {
    -webkit-appearance: checkbox;
  }
}

html,
body,
[id='__next'] {
  @apply flex
    w-full
    antialiased
    bg-white
    text-black;

  height: max-content;
}

* {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'San Francisco',
    'Segoe UI',
    'Helvetica Neue',
    'Lucida Grande',
    sans-serif !important;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
