.container {
  @apply flex
    flex-col
    bg-slate-50
    lg:bg-white
    min-h-screen;
}

.wrapper {
  @apply flex
    flex-1;
}

.footer {
  @apply flex
    flex-1
    self-center
    justify-between
    font-light
    text-gray-300
    text-xs
    px-2
    py-1
    md:w-full
    md:text-sm
    md:fixed
    md:bottom-0
    md:right-0;
}

.price {
  @apply hidden
    md:flex;
}
